// ---------------------------------------------------------------------------
// Imports

// compass for sass lib
@import "compass";

// susy lib for sass to calculate grid layout; big helper
@import "susy";

// normalize reset
@import "reset";

// import flexslider for slider page (subjects.html)
@import "flexslider";

// removing fontawesome
// uncomment if you'd like to use
// @import "fontawesome";

// bootstrap's tooltip
@import "tooltip";

// ---------------------------------------------------------------------------

// Compass Variables
@include establish-baseline(14px);

// Basic Grid
$total-columns  : 12;
$column-width   : 4.8em;
$gutter-width   : 1.2em;
$grid-padding   : $gutter-width;

$legacy-support-for-ie  : false;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;
$breakpoint-ie-output: false;

// colors
// black white
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayccc: 							#ccc !default;
$grayLighter:           #bec3c7 !default;
$whiteDarker:						#e9e9e9 !default;
$whiteDark:             #ecf0f1 !default;
$whiteLight:						#fcfbf9 !default;
$white:                 #fff !default;

// Accent colors
$red:                   #b12937 !default;
$redLight:              #b92837 !default;
$yellow:                #e5b73c !default;
$yellowDark:            #e1cb8a !default;
$brown:                 #565149 !default;
$darkbrown:             #2a2723 !default;
$lightbrown:            #e1ddd1 !default;

// custom fonts
@include font-face("FontAwesome", inline-font-files("fontawesome-webfont.woff", woff), "fontawesome-webfont.eot", normal, normal);
@include font-face("bebas_neueregular", inline-font-files("bebasneue-webfont.woff", woff), "bebasneue-webfont.eot", normal, normal);
@include font-face("PTsans", inline-font-files("pts55f-webfont.woff", woff), "pts55f-webfont.eot", normal, normal);