// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
}

body {background: image_url("bodybg.jpg") repeat-x center top $white; color: $brown;}
a {@extend %redlink;}
p>strong {font-weight: normal; color: $grayDarker;}

%blocklink {display: block; width: 100%; height: 100%;}
%redlink {color: $red; text-decoration: none;}
%textoverflow {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
%bebas {font-family: "bebas_neueregular", sans-serif;}
%PTsans {font-family: "PTsans", sans-serif;}

.bebas {font-family: "bebas_neueregular", sans-serif;}
.PTsans {font-family: "PTsans", sans-serif;}

.hide {display: none;}
.posabs {position: absolute;}
.posrel {position: relative;}
.flr {float: right;}
.fll {float: left;}

.centered {text-align: center;}
.smashingtitle {font-size: 48px;}
.smashingtitle.centered {color: $grayDark;}
.subtitle {font-size: 24px; margin: 1em 0 .67em;}

.dark-bordered {border: 1px solid #d3cec5;}
.inner-dark-bottom-bordered {border-bottom: 10px solid #dfdad5}
.inner-light-bottom-bordered {border-bottom: 10px solid #ebe9e7}
.light-bg {background: $whiteLight; padding: 1em 0;}
.gray-bg {background: #eaeaea;}
.border-radius {border-radius: 4px;}

.container {
	$total-columns  : 12;
	$column-width   : 4.82em;
	$gutter-width   : 1.21em;
	$grid-padding   : $gutter-width*3;
	@include container;
}

.container-nopadding {
	$total-columns  : 12;
	$column-width   : 6.532em;
	$gutter-width   : 0;
	$grid-padding   : 0;
	@include container;
}

.container-noRLpadding {
	$total-columns  : 12;
	$column-width   : 5.32em;
	$gutter-width   : 1.33em;
	$grid-padding   : 0;
	@include container;
}

.header.container-noRLpadding {margin-top: 4.1em; margin-bottom: 4.1em;}
.container.below-title {padding-top: 3em; padding-bottom: 2em; margin-top: 3em;}
.indexphotobomb {border-top: 0; border-bottom: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.less-bottom-margin {margin-bottom: 2.3em;}

.logo {
	@include span-columns(6, 12); margin: 0;
	a {display: block; width: 144px; height: 48px; text-indent: -99em; background: image_url("logo.png") no-repeat;}
}
.navigation {
	@include span-columns(6 omega, 12); text-align: right;
	li {display: inline-block; margin-left: 12px;}
	li:first-child {margin-left: 0;}
	&.secondary li:first-child:after {content: "|"; margin-left: 12px;}
	&.secondary a {color: $brown; font-size: 12px;}
	&.secondary a:hover {color: $darkbrown;}
	&.primary li {margin-left: 24px;}
	&.primary a {color: $gray; font-size: 16px; line-height: 34px;}
	&.primary .instagram {margin-left: 48px;}
	.instagram a {display: block; width: 162px; height: 45px; background: image_url("instagrama_baglan.png") no-repeat left -62px; text-indent: -99em; font-size: 0;}
	.instagram a:hover {background-position: left -13px;}
	.active a {color: $red;}
}

.featured-home {float: left; width: 74%; padding-top: 2.2em; padding-bottom: 1.75em;}
.featured-side {float: left; width: 25.9%; border-left: 1px solid #d3cec5;}
.rgba .inner-featured-side {background: rgba(114,85,50,.1); box-shadow: inset 0 0 3px $white;}

.featured-detail {float: left; width: space(3,9); margin-right: 3.66em; margin-left: 3.66em;}
.ft-title {color: $red; margin: .25em 0; line-height: 1;}
.ft-sub-title {
	font-size: 28px; margin: 0;
	i {font-style: normal; color: $grayLight;}
}
.featured-image {float: left; border: 4px solid $white; margin-right: 3.66em;}
.flower {display: block; width: 166px; height: 182px; background: image_url("cicek.png"); bottom: .75em; right: .75em; z-index: 3;}

.social {margin: 2em 0; overflow: hidden;}
.social a {display: block; height: 48px; background: image_url("bigsprite.png") no-repeat 40px 2px; padding-left: 96px; line-height: 48px; color: $brown;}
.twitter a {background-position: 40px -44px;}
.social a:hover {color: $darkbrown;}

.rednoisy {background: image_url("rednoisy.jpg") repeat-x;}
.rednoisy.block-link {
	display: block; padding: 4px;
	span {display: block; font-size: 16px; line-height: 46px; text-align: center; color: $white; border: 1px solid rgba(255,255,255,.3);}
}

.call-to-action {margin: 2.5em auto; border: 10px solid $white; width: 173px;}
.join {margin-bottom: 1px;}
.join a {display: block; height: 63px; background: image_url("bigsprite.png") no-repeat -282px -46px; text-indent: -99em; border-bottom: 3px solid $red;}
.join a:hover {background-position: -463px -46px;}
.previous-winners a {display: block; width: 139px; height: 30px; padding: 18px; background: image_url("bigsprite.png") no-repeat -4px -568px; line-height: 1; color: $grayDarker; text-shadow: 0 1px 0 $grayLighter; text-align: center;}
.previous-winners a:hover {background-position: -184px -568px;}

.nav-tab {
	margin: 2em 0;
	li {display: inline-block; float: left; line-height: 24px; margin-right: 4px;}
	a {display: block; height: 100%; padding: 0 6px; color: $grayLight;}
	.active a, a:hover {color: $grayDark;}
}
.photo-grid-list {margin-bottom: 1em;}
.photo-grid-item {
	width: 162px; float: left; margin: 0 4px 12px 0;
	.nickname {padding: 5px; font-size: 12px; @extend %textoverflow;}
	a {color: $grayDark;}
	a:hover {color: $redLight;}
	.comment, .like {display: inline-block; line-height: 24px; padding-left: 28px; margin-right: 8px; background: image_url("bigsprite.png") no-repeat 0 -166px; font-size: 11px;}
	.comment:hover {background-position: -123px -284px;}
	.like {background-position: -60px -227px;}
	.like:hover {background-position: -203px -344px;}
}
.photo-grid-actions {
	padding: 5px; background: $white; transition: border-color .3s;
	img {border-top-right-radius: 4px; border-top-left-radius: 4px;}
	&:hover {
		padding: 3px; border-color: $redLight;
		img {border: 2px solid $redLight;}
	}
}

// for xlarge grid items in participants page
.xlarge {
	width: 328px; position: relative;
	.photo-grid-actions {
		padding: 4px;
		&:hover img {border: 0;}
	}
	.ribbon {top: 20px; right: 20px; background: image_url("bigsprite.png") no-repeat -592px -512px; width: 50px; height: 128px; font-size: 30px; line-height: 64px; text-align: center; color: $white; font-style: normal; text-indent: -6px;}
}



#load-more-pics {border-top: 0; border-top-right-radius: 0; border-top-left-radius: 0; @include box-sizing(border-box);}
#load-more-pics a {
	@extend %blocklink; text-align: center; line-height: 4em; color: $gray; transition: all .3s;
	&:hover {background: $grayccc;}
}

.detail-page-sidebar {
	float: left; width: 34%;
	.featured-image {float: none; margin-right: 0;}
	.blacktag {bottom: 11px; right: 6px; z-index: 2; font-style: normal; padding: 4px; background: $grayDark; color: #d3cec5; max-width: 356px; @extend %textoverflow;}
	.social {margin: 1em 0;}
	.social a {background-position: 0 2px; padding-left: 52px;}
	.twitter a {background-position: 12px -44px; padding-left: 68px;}
	.facebook, .twitter {float: left; width: 50%;}
}

.detail-page-content {float: right; width: 63%;}
.detail-meta {
	margin-bottom: 1em;
	.ft-title {margin: 0; float: left; width: 64%;}
	.ft-sub-title {margin: 0; line-height: 48px; float: right; width: 35%;}
}

.detail-prizes {
	li {width: 22%; float: left; margin: 1em 3% 1em 0;}
	.ft-sub-title {-webkit-font-smoothing: antialiased; font-size: 23px; margin-bottom: 8px;}
	.join {margin-right: 0; width: 25%;}
	.join a {height: 156px; border-bottom: 0; background-position: -282px 30px; padding-top: 30px;}
	.join a:hover {background-position: -463px 30px;}
}
.slightly-larger {
	li {width: 25%; margin: 3% 0; padding: 0 4%; border-left: 1px dotted #7a756c;}
	.ft-sub-title {font-size: 45px; line-height: 1.3; color: $grayDark;}
	img {box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); border-radius: 4px;}
	li:first-child {border-left: 0;}
}

.sub-smashingtitle {
	border-bottom: 1px solid #d3cec5; margin-bottom: 4.4em;
 li {display: inline-block;}
	a {display: block; color: $grayLight; padding: .36em .54em; font-size: 28px;}
	a:hover, .active a {color: $grayDark;}
}

.slider-sidebar {
	width: 50%; float: left;
	.hashhash {font-size: 18px;}
	h3 {font-size: 24px; margin-top: .2em;}
	.join {margin-top: 2em;}
	.katilmini {width: 173px; height: 67px; font-size: 0; line-height: 0; margin-top: .2em;}
}

 .form-page-last-call {
	float: right; width: 54%; margin-top: 3em;
	.detail-prizes {
		padding: 3em 0 3em 2.8em;
		li {width: 31%; margin: 0 2% 0 0;}
	}
}

.form-half {float: left; width: 42%;}
.input-line {
	margin-top: 1em; position: relative;
	.finput+.error {position: absolute; right: 4em; top: -6px; z-index: 4; background: #ce3343; @extend %PTsans; color: $white; padding: 3px 1em; font-size: 12px;}
	.finput+.error:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
	.finput+.error:after { border-color: rgba(206, 51, 67, 0); border-top-color: #ce3343; border-width: 6px; left: 76%; margin-left: -6px;}
}
.flabel {display: block; line-height: 32px; padding-left: 24px; @extend %PTsans; font-size: 16px; color: $grayDark;}
.finput {
	border: 5px solid $lightbrown; height: 36px; padding: 5px 24px 6px; background: $white; border-radius: 24px; -webkit-appearance: none; min-width: 28em; box-shadow: inset 0 1px 2px rgba(51, 51, 51, 0.4); transition: border-color .3s;
	&:focus {border-color: $yellowDark; outline: none;}
	&.error {box-shadow: inset 0 1px 2px rgba(153, 0, 0, 0.2);}
}
.fsubmit {display: block; border-color: $white; background: $lightbrown; min-width: 14em; height: auto; padding: 1em 9em; margin-top: 1em; @extend %PTsans; font-size: 20px; box-shadow: 0 1px 2px rgba(51, 51, 51, 0.2); color: $darkbrown;}

.footer {
	clear: both; padding-top: 3em; padding-bottom: 1em;
	.f-links {@include span-columns(6, 12);}
	.copyright {@include span-columns(6 omega, 12); text-align: right; font-size: 12px; line-height: 28px; color: $grayLight; margin: 0;}
	.f-links li {display: inline-block; margin-right: 10px;}
	.f-links-sidebyside>a {display: block; width: 136px; height: 28px; text-indent: -99em; background: image_url("footerlogos.png") no-repeat;}
	.google-play a {width: 80px; background-position: -144px 0;}
	.apple-appstore a {width: 84px; background-position: -232px 0;}
}
.insta-tooltip {
	width: 180px; height: 117px; top: -117px; left: 0; z-index: 3; background: image_url("instagram_nedir.png") no-repeat; padding:  0 10px 0 119px;
	h3, h4, h5 {margin: 0; font-size: 12px; color: $white;}
	h3 {font-size: 14px;}
	h4 {line-height: 1.3;}
	h5 a {color: $yellow;}
}